{% extends "base.html" %}
{% block title %} Homepage {% endblock title %}
{% block content %}
        <p>Current year: {{current_year}}</p>
        <p>Current hour: {{current_hour}}</p>
        {% for city in cities %}
        <p>{{city}}</p>
        {% endfor %}
        <li>
        <ul> <a href="/about-me">About</a> </ul>
        <ul> <a href="/portfolio">Portfolio</a> </ul>
        <ul> <a href="/base">Jinja</a> </ul>
        <ul> <a href="/guess">Guess the number game</a> </ul>
        </li>
        <img src="/static/img/smartninja-logo.png">

{% endblock content %}

