{% extends "base.html" %}
{% block title %} Homepage {% endblock title %}

{% block content %}
<h3>The year is {{current_year}}</h3>
<h3>The hour is {{current_hour}}</h3>

{% if user %}
    <p>Hello {{user.name}}</p>
    <p>This is your email address: {{user.email}}</p>
{% else %}
    <form method="post" action="/login">
        <input type="text" name="user-name" placeholder="Enter your name"><br>
        <input type="email" name="user-email" placeholder="Enter your email address"><br>

        <button>Submit</button>

    </form>
{% endif %}

{% endblock content %}

