<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Portfolio</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <h1>this is Portfolio  ;)</h1>
        <a href="/about-me">about</a>
        <a href="/">index</a>
        <ul> Links:
            <li><a href="/fakebook">fakebook</a></li>
            <li><a href="/boogle">boogle</a></li>
            <li><a href="https://april-izziv.herokuapp.com/">Aprilski izziv</a></li>
        </ul>
    </body>
</html>